<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Cadastrar</button>
        <div class="dropdown-content">
            <a href="#">Cadastrar Amigos</a>
            <a href="#">Cadastrar Ferramentas</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Empréstimo e Devolução</button>
        <div class="dropdown-content">
            <a href="#">Empréstimo</a>
            <a href="#">Devolução</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Gerenciar</button>
        <div class="dropdown-content">
            <a href="#">Gerenciar Amigos</a>
            <a href="#">Gerenciar Ferramentas</a>
            <a href="#">Gerenciar Empréstimos</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Relatório</button>
        <div class="dropdown-content">
            <a href="#">Relatório de Amigos</a>
            <a href="#">Relatório de Ferramentas</a>
            <a href="#">Relatório de Empréstimos Ativos</a>
        </div>
    </div>
</div>

</body>
</html>
