body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #062d4e;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    font-size: small;
    text-decoration: none;
    padding: 14px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #0d3b70;
}

.content {
    padding: 30px;
    text-align: center;
}